.menu {
    max-width: 100px;
    margin: auto;
    margin-top:70px;
    position: fixed;
    display:inline-block;
    flex-direction:row;
    justify-content: space-between;
    background-color: wheat;
}

.titol {
justify-content:center;
background-color:aqua;
text-decoration-color: white;
margin-top:70px;
}


