.menu {
    max-width: 100px;
    margin: auto;
    margin-top:70px;
    position: fixed;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: wheat;
}

.titol {
justify-content:center;
background-color:aqua;
text-decoration-color: white;
position: relative;
margin-top:70px;
}

body {
    background-color: pink;
}

footer {
    background-color:royalblue;
    
}


